#NPG-dropdown {
    width: 750px;
    border: none;
    padding: 2px 2px 3px;
    color: rgb(36, 41, 46);
    right: -1px;
}

#NPG-dropdown .boxed-group {
    margin-bottom: 20px;
}

#NPG-dropdown .boxed-group:last-child {
    margin-bottom: 0;
}

/* Keep icon clickable when modal is open */
.notification-indicator {
    z-index: 101;
}

/* Disable native tooltip when it has unread notifications */
.Header .notification-indicator[data-ga-click$=":unread"]::after {
    display: none;
}

/* Make the unread count more visible */
/* Needs high specificity */
.notification-indicator .mail-status.unread:not(:empty) {
    width: auto;
    top: -5px;
    left: 11px;

    font-size: 13px;
    line-height: 0.8;
    color: transparent;
    font-weight: bold;
    -webkit-background-clip: text;

    border: none;
    border-radius: 0;
    white-space: nowrap;
}