:root:root .NPG-dropdown {
    width: 750px;
    border: none;
    padding: 5px;
    color: rgb(36, 41, 46);
    right: -10px;
    margin-top: 5px;
}

.NPG-dropdown .boxed-group {
    margin-bottom: 20px;
}

.NPG-dropdown .boxed-group:last-child {
    margin-bottom: 0 !important;
}

/* Removes text outline */
.NPG-dropdown .boxed-group .text-green {
    outline: none;
}

/* Loading animation */
.NPG-loading .octicon-bell {
    transform-origin: top;
    animation: npg-ding 0.5s infinite ease-out;
}

@keyframes npg-ding {
    25% {
        transform: rotate(10deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: rotate(-10deg);
        animation-timing-function: ease-in;
    }
}

/* Keep icon clickable when modal is open */
.NPG-container.active + .notification-indicator {
    z-index: 101;
}

/* Disable native tooltip when it has unread notifications */
.Header .notification-indicator[data-ga-click$=":unread"]::after {
    display: none;
}

/* Style the unread count */
/* Needs high specificity */
.notification-indicator .mail-status.unread:not(:empty) {
    width: auto;
    height: auto;
    padding: 2px;
    min-width: 1.5em;

    /* Position it so multiple digits don't go too far right */
    left: 11px;
    transform: translateX(-30%);

    font-size: 10px;
    font-weight: bold;
    line-height: 0.7;
    border-radius: 1em;
    color: #24292f;
    text-align: center;
}

.participating .js-notifications-browser::before {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 20px;
    z-index: -1;
    display: block;
    width: 2px;
    content: "";
    background-color: #e6ebf1;
}

:root:root .NPG-dropdown.type-compact {
    width: auto;
    max-width: 750px;
}

.NPG-dropdown.type-compact .list-group-item-name {
    padding-right: 35px;
}

.NPG-dropdown.type-compact .boxed-group {
    margin-bottom: 6px;
}

.NPG-dropdown.type-compact .boxed-group h3 {
    padding-right: 50px; /* Avoids wrap with long repo names */
}

/* Hide extra content */
.NPG-dropdown.type-compact .age,
.NPG-dropdown.type-compact .AvatarStack {
    display: none !important;
}

.NPG-container.active .dropdown-menu-content {
    display: block;
}
