#NPG-dropdown {
    width: 750px;
    border: none;
    padding: 2px 2px 3px;
    color: rgb(36, 41, 46);
    right: -1px;
}

#NPG-dropdown .boxed-group {
    margin-bottom: 20px;
}

#NPG-dropdown .boxed-group:last-child {
    margin-bottom: 0;
}

/* Loading animation */
.NPG-loading .octicon-bell {
    transform-origin: top;
    animation: npg-ding 0.5s infinite ease-out;
}

@keyframes npg-ding {
    25% {
        transform: rotate(10deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: rotate(-10deg);
        animation-timing-function: ease-in;
    }
}


/* Keep icon clickable when modal is open */
.notification-indicator {
    z-index: 101;
}

/* Disable native tooltip when it has unread notifications */
.Header .notification-indicator[data-ga-click$=":unread"]::after {
    display: none;
}

/* Style the unread count */
/* Needs high specificity */
.notification-indicator .mail-status.unread:not(:empty) {
    width: auto;
    height: auto;
    padding: 2px;
    min-width: 1.5em;

    font-size: 10px;
    font-weight: bold;
    line-height: 0.7;
    border-radius: 1em;
    color: #24292f;
    text-align: center;
}
