#NPG-dropdown {
    width: 750px;
    border: none;
    padding: 2px 2px 3px;
    color: rgb(36, 41, 46);
    right: -1px;
}

#NPG-item:hover {
    background-color: inherit !important;
    text-decoration: none;
    color: inherit !important;
}

#NPG-item {
    padding: 0;
    overflow-y: auto;
}
#NPG-item:empty:before {
    content: "Loading notifications…";
    padding: 10px;
    display: block;
    text-align: center;
    animation: npg-pulse 1s infinite;
}

#NPG-item .boxed-group {
    margin-bottom: 20px;
}

#NPG-item .boxed-group:last-child {
    margin-bottom: 0;
}

@keyframes npg-pulse {
    50% {
        opacity : 0.5;
    }
}

/* Disable native tooltip when it has unread notifications */
.Header .notification-indicator[data-ga-click$=":unread"]:hover::after {
    display: none;
}
