.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu {
    width: 750px;
    border: none;
    padding: 2px 2px 3px;
}

.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu {
    right: -1px;
}

.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu .dropdown-item:hover {
    background-color: inherit !important;
    text-decoration: none;
    color: inherit !important;
}

.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu #my-github-notification-list {
    padding: 0;
}

.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu {
    color: rgb(36, 41, 46);
}

.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu .paginate-container {
    display: none;
}

.user-nav a.notification-indicator~.dropdown-menu-content .dropdown-menu .boxed-group {
    margin-bottom: 0;
}
