#NPG-dropdown {
    width: 750px;
    border: none;
    padding: 2px 2px 3px;
    color: rgb(36, 41, 46);
    right: -1px;
}

#NPG-item {
    overflow-y: auto;
    max-height: calc(100vh - 60px);
}

#NPG-item .boxed-group {
    margin-bottom: 20px;
}

#NPG-item .boxed-group:last-child {
    margin-bottom: 0;
}

.NPG-loading .octicon-bell {
    transform-origin: top;
    animation: npg-ding 0.5s infinite ease-out;
}

@keyframes npg-pulse {
    50% {
        opacity: 0.5;
    }
}

@keyframes npg-ding {
    25% {
        transform: rotate(10deg);
        animation-timing-function: ease-in-out;
    }
    75% {
        transform: rotate(-10deg);
        animation-timing-function: ease-in;
    }
}

/* Keep icon clickable when modal is open */
.notification-indicator {
    z-index: 101;
}

/* Disable native tooltip when it has unread notifications */
.Header .notification-indicator[data-ga-click$=":unread"]::after {
    display: none;
}
