#NPG-dropdown {
    width: 750px;
    border: none;
    padding: 2px 2px 3px;
    color: rgb(36, 41, 46);
    right: -1px;
}

#NPG-item:hover {
    background-color: inherit !important;
    text-decoration: none;
    color: inherit !important;
}

#NPG-item {
    padding: 0;
}

#NPG-item .boxed-group {
    margin-bottom: 20px;
}

#NDE-item .boxed-group:last-child {
    margin-bottom: 0;
}
